{% extends "home.html" %}

{% block custom_title %} <title>Not Found</title> {% endblock custom_title %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <a href="{% url 'menu' %}" class="btn btn-primary btn-lg">
          <span></span>Take Me Home
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block sidekick %}
{% endblock sidekick %}