{% extends "profiles/login.html" %}
{% load widget_tweaks %}


{%  block sidekick %}
    <div class="list-group" align="center">
      <div class="list-group-item active">
        <h4 class="list-group-item-heading">Request Password</h4>
      </div>

      <form class="list-group-item" role="form" action="{% url 'recover' %}" method="post">

        {% csrf_token %}
        <div class="form-group">
          {{ form.email|attr:"class:form-control"|attr:"placeholder:Enter Registered Email" }}
        </div>

        <input class="btn btn-success btn-md" type="submit" value="Request Password" />
        <a class="btn btn-danger btn-md" href="{% url 'login' %}">Cancel</a>

      </form>
    </div>

{% endblock sidekick %}