{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load monitor_extras %}

{% block navbar_content %}
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }}<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'monitor_dashboard' %}">Indicator Monitoring</a></li>
                <li><a href="{% url 'profile' %}">Manage Profile</a></li>

                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Administrator Panel</a></li>
                {% endif %}

                <li class="divider"></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </li>
    </ul>
{% endblock navbar_content %}


{% block content %}

    <ol id="pivot_navigator" class="breadcrumb"></ol>

    <!-- Alert Messages -->
    {% if messages %}
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>

            {% for message in messages %}
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                {{ message }}
            {% endfor %}

        </div>
    {% endif %}
    <!-- End Alert Messages -->

    <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#RecentPanel" aria-controls="LookupPanel" role="tab" data-toggle="tab">
                Recent
                <span class="glyphicon" aria-hidden="true"></span>
            </a>
        </li>

        <li role="presentation">
            <a href="#HistoricalPanel" aria-controls="HostingPanel" role="tab" data-toggle="tab">
                Historical
                <span class="glyphicon" aria-hidden="true"></span>
            </a>
        </li>

        <li role="presentation">
            <a href="#MalwarePanel" aria-controls="MalwarePanel" role="tab" data-toggle="tab">
                Malware
                <span class="glyphicon" aria-hidden="true"></span>
            </a>
        </li>

        <li role="presentation">
           <a href="#SafeBrowsingPanel" aria-controls="SafeBrowsingPanel" role="tab" data-toggle="tab">
            SafeBrowsing
            <span class="glyphicon" aria-hidden="true"></span>
            </a>
        </li>

        <li role = "presentation">
            <a href ="#SearchPanel" aria-controls="SearchPanel" role="tab" data-toggle="tab">
                Search Results
                <span class="glyphicon" aria-hidden="true"></span>
            </a>
        </li>

        <li role = "presentation">
            <a href ="#ExternalPanel" aria-controls="ExternalPanel" role="tab" data-toggle="tab">
                External
                <span class="glyphicon" aria-hidden="true"></span>
            </a>
        </li>

        <li class="pull-right">
            <div class="btn-group dropdown" id="export">
              <button class="btn btn-primary btn-md dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Export
                  <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{% url 'Pivoteer_Export' %}">All Records</a></li>
                <li><a href="{% url 'Pivoteer_Export' %}?filter=recent">Recent Records</a></li>
                <li><a href="{% url 'Pivoteer_Export' %}?filter=historical">Historical Records</a></li>
                <li><a href="{% url 'Pivoteer_Export' %}?filter=malware">Malware Records</a></li>
                <li><a href="{% url 'Pivoteer_Export' %}?filter=search">Search Records</a></li>
                <li><a href="{% url 'Pivoteer_Export' %}?filter=safebrowsing">SafeBrowsing Records</a></li>
              </ul>
            </div>
        </li>

        <li class="pull-right">
            <form class="form-inline" role="form" action="{% url 'app_Pivoteer' %}" method="post" id="research_indicator">
              {% csrf_token %}
              <div class="form-group">
                {{ SubmissionForm.indicator|attr:"class:form-control"|attr:"placeholder:Enter Indicator" }}
              </div>
              <button class="btn btn-success btn-md" type="submit" value="Research">
                 Research
                 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </form>
          </li>
      </ul>
    <!-- End nav tabs -->

    <!-- Panel panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="RecentPanel"></div>
        <div role="tabpanel" class="tab-pane" id="HistoricalPanel"></div>
        <div role="tabpanel" class="tab-pane" id="MalwarePanel"></div>
        <div role="tabpanel" class="tab-pane" id="SafeBrowsingPanel"></div>
        <div role="tabpanel" class="tab-pane" id="SearchPanel"></div>
        <div role="tabpanel" class="tab-pane" id="ExternalPanel"></div>
      </div>
    <!-- End tab panes -->
{% endblock content %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static "pivoteer.js" %}"></script>
{% endblock javascript %}